@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&display=swap");
.main__section--1 nav .main__section--botonhover, .boton, .main__section--1 nav .main__section--botonhover:hover, .boton:hover {
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  width: 100px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section--1 nav .main__section--botonhover:hover, .boton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/******************************LUIS ENRIQUE*******************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__section--1 .main__section--piano, .main__section--1 nav .main__section--boton, .main__section--1 nav ul, .main__section--1 .main__section--h1, .main__section--1 .main__section--h4, header .header__carrito, header .header__nav nav ul .boton, header .header__nav nav ul, header .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------aquivan los MIXIN---------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
}

.boton:hover {
  cursor: pointer;
}

header {
  width: 97%;
  height: 25vh;
  margin-left: 2%;
  position: relative;
}
header .header__logo {
  width: 20%;
  height: 50%;
  /*display: flex;*/
  margin-left: 5%;
}
header .header__logo img {
  padding-left: 0%;
}
header .header__nav {
  width: 60%;
  height: 50%;
  margin-right: -10%;
}
header .header__nav nav {
  color: #000000;
  width: 100%;
  height: 100%;
}
header .header__nav nav ul {
  width: 100%;
  height: 100%;
  justify-content: right;
}
header .header__nav nav ul li {
  display: inline;
  list-style: none;
  font-weight: 600;
  font-size: 1.5vw;
}
header .header__nav nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
header .header__nav nav ul .boton {
  width: 129px;
  height: 32px;
}
header .header__carrito {
  width: 10%;
  height: 100%;
}
header .header__carrito img {
  display: flex;
  padding-left: -5%;
  padding-top: 10%;
}

.main__section--1 {
  width: 98%;
  height: 160vh;
  margin-left: 1%;
  position: relative; /********************************/
}
.main__section--1 .main__section--h4 {
  width: 100%;
  height: 15vh;
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  color: #858585;
}
.main__section--1 .main__section--h1 {
  width: 100%;
  height: 20vh;
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: 400;
  font-size: 8vw;
  color: #000000;
}
.main__section--1 nav {
  width: 100%;
  height: 8vh;
}
.main__section--1 nav ul {
  width: 100%;
  height: 100%;
}
.main__section--1 nav ul li {
  width: 100%;
  height: 100%;
  margin-right: 2%;
}
.main__section--1 nav ul li a {
  display: flex;
  text-decoration: none;
}
.main__section--1 nav .main__section--botonhover {
  width: 129px;
  height: 32px;
  float: left;
}
.main__section--1 nav .main__section--botonhover:hover {
  cursor: pointer;
  width: 129px;
  height: 32px;
}
.main__section--1 nav .main__section--boton {
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
  border: #000000 1px solid;
  width: 100px;
  height: 24px;
  width: 129px;
  height: 32px;
}
.main__section--1 .main__section--piano {
  width: 100%;
  height: 90%;
}
.main__section--1 .main__section--piano aside {
  width: 4%;
  height: 30%;
  position: absolute;
  left: 93%;
  bottom: -8%;
  flex-direction: column;
}
.main__section--1 .main__section--piano aside a {
  display: flex;
  padding: 20%;
}

/******************************************************/
/* RESPONSIVO PARA CELULARES*/
/*****************************************************/
@media only screen and (max-width: 600px) {
  header {
    width: 97%;
    height: 15vh;
    margin-left: 2%;
    position: relative;
  }
  header .header__logo {
    width: 20%;
    height: 50%;
    margin-left: 5%;
  }
  header .header__logo img {
    padding-left: 0%;
  }
  header .header__nav {
    display: none;
  }
  header .header__carrito {
    width: 10%;
    height: 100%;
  }
  header .header__carrito img {
    display: flex;
    padding-left: -5%;
    padding-top: 10%;
  }
  .main__section--1 {
    width: 98%;
    height: 160vh;
    margin-left: 1%;
    position: relative; /********************************/
  }
  .main__section--1 .main__section--h4 {
    width: 100%;
    height: 15vh;
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    color: #858585;
  }
  .main__section--1 .main__section--h1 {
    width: 100%;
    height: 15vh;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    color: #000000;
  }
  .main__section--1 nav {
    width: 100%;
    height: 8vh;
  }
  .main__section--1 nav ul {
    width: 100%;
    height: 100%;
  }
  .main__section--1 nav ul li {
    width: 100%;
    height: 100%;
    margin-right: 2%;
  }
  .main__section--1 nav ul li a {
    display: flex;
    text-decoration: none;
  }
  .main__section--1 nav .main__section--botonhover {
    width: 129px;
    height: 32px;
    float: left;
  }
  .main__section--1 nav .main__section--botonhover:hover {
    cursor: pointer;
    width: 129px;
    height: 32px;
  }
  .main__section--1 nav .main__section--boton {
    background-color: #ffffff;
    border-radius: 8px;
    color: #000000;
    border: #000000 1px solid;
    width: 100px;
    height: 24px;
    width: 129px;
    height: 32px;
  }
  .main__section--1 .main__section--piano {
    width: 100%;
    height: 90vh;
    /*background-color: aqua;*/
  }
  .main__section--1 .main__section--piano aside {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */